<p id="notice">
	<%= notice %>
</p>

<div class="container">
	<div class="row">
		<% @items.each do |item| %>
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<%= item.product %> - $<%= item.price %>
				</div>
				<div class="panel-body">
					<a href="/items/<%= item.id %>"> <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
				</div>
				</a>
				<div class="panel-footer">
					<%= item.description %>  <%= link_to "edit this item", edit_item_path(item) %>
				</div>
				<div class="panel-footer">
					
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

